node_modules
admin.html
.env
echo serviceAccountKey.json >> .gitignore
git rm --cached serviceAccountKey.json
git commit -m "Removed serviceAccountKey.json from repo"
serviceAccountKey.json
*.env
serviceAccountKey.json
